.all-item {
    width: 100%;
    border: none;
    box-shadow: none;
    height: 50px;
    font-size: 20px;
}
.category {
    width: 100%;
    height: 45px;
    font-size: 20px;
    color: black;
    background-color: rgb(172, 172, 172);
    border: none;
    box-shadow: none;
}
.category:hover {
    background-color: #505050;
    color: white;
}
.category-checked {
    background-color: #505050;
    color: white;
    animation: blink_background ease-in-out 1.5s infinite;
}
@keyframes blink_background {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.all-item {
    width: 100%;
    border: none;
    box-shadow: none;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
.center-outer {
    display: table;
    width: 100%;
    height: 100%;
    }
    
    .center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }
    
    /* Essential CSS - Makes the effect work */
    
    header {
    background-color: #3498db;
    }
    
    .bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
    }
    
    .bubbles h1 {
    
    position: relative;
    padding: 20px;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    z-index: 2;
    }
    
    .individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
    }
